RESEND_API_KEY=re_placeholder_key
QUOTE_EMAIL_TO=info@somnathtransportservice.com
QUOTE_EMAIL_FROM=Somnath Transport Service <yash@somnathtransportservice.com>
ALLOWED_ORIGIN=https://somnathtransportservice.com